<mat-toolbar class="toolbar-header">
    <mat-toolbar-row>
        <button mat-stroked-button [routerLink]="''">Hotel Management</button>
        <button mat-stroked-button [routerLink]="'/users'">Users</button>
        <button mat-stroked-button [routerLink]="'/rooms'">Rooms</button>
        <button mat-stroked-button [routerLink]="'/bookings'">Bookings</button>
        <span class="spacer"></span>
            <ng-container>
                <button mat-stroked-button [routerLink]="'/register'">Register</button>
                <button mat-stroked-button [routerLink]="'/login'">Log in</button>
            </ng-container>
    </mat-toolbar-row>
</mat-toolbar>