<h2 mat-dialog-title>Confirm booking</h2>
<mat-dialog-content class="mat-typography">
  <h3>Check-in day</h3>
  <p></p>

  <h3>Check-out day</h3>
  <p>          </p>

  <h3>Days</h3>
  <p>      </p>

  <h3>Total price</h3>
  <p>           </p>

  <h3>Room number</h3>

  <p>  {{room.roomNumber}}    </p>

  <h3>Room type</h3>

  <p>     {{room.roomType}}         </p>  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
