<div class="create-room-button">
  <button mat-raised-button color="primary" (click)="onCreateRoom()">Create new room</button>
</div>

<div class="table-container">
  <table mat-table [dataSource]="pagedRooms" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8 custom-table">

    <ng-container matColumnDef="roomNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Room number</th>
      <td mat-cell *matCellDef="let room"> {{room.roomNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="roomType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">Type</th>
      <td mat-cell *matCellDef="let room">{{ getRoomTypeName(room.roomType) }}</td>
    </ng-container>

    <ng-container matColumnDef="pricePerNight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">Price per night</th>
      <td mat-cell *matCellDef="let room"> {{room.pricePerNight}} </td>
    </ng-container>

    <ng-container matColumnDef="isAvailable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by availability">Is available</th>
      <td mat-cell *matCellDef="let room"> {{ room.isAvailable ? 'Yes' : 'No' }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let room" class="action-buttons">
        <button mat-raised-button color="accent" class="edit-button" (click)="onEditRoom(room)">Edit</button>
        <button mat-raised-button color="warn" (click)="onDeleteRoom(room.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalRooms" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page" (page)="onPageChange($event)">
  </mat-paginator>
</div>
