.create-booking-button {
  margin-bottom: 16px;
  text-align: center; /* Align the "Create new booking" button to the right */
}

.table-container {
  width: 80%;
  margin: 16px auto; /* Adding top margin to create space between button and table */
}

.custom-table {
  width: 100%;
  margin-top: 16px;
}

.mat-header-cell, .mat-cell {
  text-align: center;
  padding: 8px 16px;
  font-size: 16px;
}

.mat-header-row {
  background-color: #f5f5f5;
}


.mat-cell {
  display: flex;
  justify-content: center;
}

.mat-cell button {
  min-width: 80px;
}
