<mat-dialog-content>
  <ng-container>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Start Date</mat-label>
      <input matInput [(ngModel)]="startDate" [matDatepicker]="picker1" placeholder="YYYY-MM-DD"/>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>End Date</mat-label>
      <input matInput [(ngModel)]="endDate" [matDatepicker]="picker2" placeholder="YYYY-MM-DD"/>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Client Email</mat-label>
      <input matInput [(ngModel)]="clientEmail"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Room Number</mat-label>
      <input matInput [(ngModel)]="roomNumber"/>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
